.SelectPaperPageMainWrapper{
    .PhonePlaceOrderBtn{
        display: none !important;
    }
    .back_btn_phone{
        display: none !important;
    }
   
    .back-btn{
        position: fixed;
        top: 3rem;
        left: 3rem;
        font-size: 30px;
        color: black;
    }
    .main{
        padding: 8rem;
    }
    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        .card{
            padding: 1rem 2rem;
            border: 2.03px solid #292D325E;
            border-radius: 20px;
            li{
                font-family: Montserrat;
                font-size: 22px;
                font-weight: 600;
                line-height: 32.02px;
                letter-spacing: -0.800606369972229px;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                span{
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 32.02px;
                    letter-spacing: -0.800606369972229px;
                    text-align: left;
                    text-underline-position: from-font;
                    text-decoration-skip-ink: none;

                }

            }
            li::marker{
                width: 11px !important;
                height: 11px !important;
            }
            .price-card{
                width: 100%;
                border: 2.03px solid #292D325E;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
                border-radius: 20px;
                font-family: Montserrat;
                font-size: 45px;
                font-weight: 700;
                line-height: 80.87px;
                letter-spacing: -0.02em;
                text-align: center;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                
            }
        }
    }
    .right{
        display: flex;
        justify-content: center;
        h2{
            font-family: Montserrat;
            font-size: 22px;
            font-weight: 600;
            line-height: 32.02px;
            letter-spacing: -0.800606369972229px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;

        }
        .select-box{
            width: 400px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2.03px solid #292D325E;
            border-radius: 20px;
            margin-bottom: 1rem;
           

            select{
                height: 44px;
                width: 90%;
                border: none;
                font-family: Montserrat;
                font-size: 17px;
                font-weight: 600;
                line-height: 32.02px;
                letter-spacing: -0.800606369972229px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                color: #000000;
                background-color: transparent;
            }
            select:focus{
                outline: none;
            }
            .commonPaper{
                color: black !important;
            }
        }
        button{
            width: 380px;
            display: block;
            margin: 0 auto;
            background-color: #6BCCE5;
            border-radius: 9px;
            font-family: Montserrat;
            font-size: 20px;
            font-weight: 500;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            height: 40px;
            border: none;
        }
        .summery{
            width: 400px;
            height: 300px;
            .table-item{
                display: flex;
                justify-content: space-between;
                padding: 10px 5px 10px;
                p{
                    font-family: Montserrat;
                    font-size: 18px;
                    font-weight: 500;
                    letter-spacing: -0.02em;
                }
            }
            .total-item{
                border-top: 3px solid black;
                p{
                    font-weight: 700;
                }
            }
            button{
                width: 100%;
                height: 50px;
                border-radius: 10px;
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
    @media(max-width:768px){
        .main{
            padding: 1rem !important;
            .left{
                li{
                    font-size: 16px !important;
                }
            }
            .right{
                padding-bottom: 4rem !important;
                display: inline !important;
                h2{
                    text-align: center;
                    padding: 1rem !important;
                }
                .next-btn{
                    width: 90% !important;
                }
            }
            .select-box{
                width: 90% !important;
                margin: auto;
                margin-bottom: 1rem !important;
                height: 30px !important;
                border-radius: 10px !important;
                select{
                    font-size: 10px !important;
                }
            }
            .summery{
                padding-top: 3rem !important;
                width: 100% !important;
                height: 300px;
            }
            .desktopPlaceOrderBtn{
                display: none !important;
            }
            .PhonePlaceOrderBtn{
                display: block !important;
                margin: auto;
                position: fixed !important;
                bottom: 0 !important;
                right: 0 !important;
                width: 50% !important;
                height: 50px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 0 !important;
                color: black;
            }
            .back_btn_phone{
                display: block !important;
                color: black;
                width: 50%;
                position: fixed;
                left: 0;
                bottom: 0;
                height: 50px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 0 !important;
                background-color: rgb(226, 226, 226);
            }
        }
    }
}