.welcomSectionMainWrapper {
    overflow: hidden;
    .blue-section {
        position: relative;
        background: #6BCCE5;
        width: 100%;
        height: 530px;
        display: flex;
        justify-content: center;
        align-items: center;
        .bulb-img{
            position: absolute;
            top: 3.4rem;
            right: 17rem;
        }
        h1 {
            font-family: Montserrat;
            font-size: 129.91px;
            font-weight: 700;
            line-height: 151.04px;
            color: white;
        }
    }
    .image-section{
        position: relative;
        background-color: rgb(255, 255, 255);
        height: 300px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.364);
        img{
            position: absolute;
            bottom: 0;
            left: 2rem;
            width: 1143px;
        }
    }
    @media(max-width:576px){
        .blue-section {
            height: auto !important;
            width: 100% !important;
        }
        .bulb-img{
            top: .5rem !important;
            right: 5rem !important;
            width: 50px !important;
        }
        h1 {
            text-align: center !important;
            padding-top: 4rem !important;
            font-size: 53.91px !important;
            line-height: 61.04px !important;
            padding-bottom: 4rem;
        }
        .image-section{
            height: 100px !important;
            img{
                // top: -11rem;
                left: -1rem !important;
                width: 382px !important;
            }
        }
    }
    @media(min-width:576px) and (max-width:768px){
        .blue-section {
            height: auto !important;
            width: 100% !important;
        }
        .bulb-img{
            top: .5rem !important;
            right: 5rem !important;
            width: 50px !important;
        }
        h1 {
            text-align: center !important;
            padding-top: 4rem !important;
            font-size: 50.91px !important;
            line-height: 61.04px !important;
            padding-bottom: 4rem;
        }
        .image-section{
            height: 100px !important;
            img{
                left: 2rem !important;
                width: 409px !important;
            }
        }
    }
    @media(min-width:768px) and (max-width:1000px){
        .blue-section {
            height: 320px !important;
            width: 100% !important;
        }
        .bulb-img{
            top: 4rem !important;
            right: 10rem !important;
            width: 50px !important;
        }
        h1 {
            text-align: center !important;
            padding-top: 4rem !important;
            font-size: 88.91px !important;
            line-height: 61.04px !important;
            padding-bottom: 4rem;
        }
        .image-section{
            height: 140px !important;
            img{
                left: 11rem !important;
                width: 602px !important;
            }
        }
    }
    @media(min-width:1000px) and (max-width:1200px){
        .bulb-img{
            top: 1rem !important;
            right: 10rem !important;
            width: 80px !important;
        }
        .blue-section {
            height: 380px !important;
            width: 100% !important;
        }
        h1 {
            text-align: center !important;
            padding-top: 4rem !important;
            font-size: 85.91px !important;
            line-height: 61.04px !important;
            padding-bottom: 4rem;
        }
        .image-section{
            height: 140px !important;
            img{
                left: 8rem !important;
                width: 686px !important;
            }
        }
    }
    @media(min-width:1200px) and (max-width:1400px){
        .blue-section {
            height: 420px !important;
            width: 100% !important;
        }
        .bulb-img{
            top: 4rem !important;
            right: 20rem !important;
            width: 82px !important;
        }
        h1 {
            text-align: center !important;
            padding-top: 4rem !important;
            font-size: 102.91px !important;
            line-height: 61.04px !important;
            padding-bottom: 4rem;
        }
        .image-section{
            height: 240px !important;
            img{
                left: 8rem !important;
                width: 913px !important;
            }
        }
    }
    @media(min-width:1400px) and (max-width:1500px){
        h1{
            font-size: 118px !important;
        }
    }
}